{% set template = config.get('@silexstarter-dashboard.config.template') %}
<!doctype html>
<html lang="en">
<head>

    {% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    <title>
        {% block title %}{{ title | default('Dashboard') }}{% endblock %}
    </title>

    {% block stylesheet %}
    {{ stylesheet([
        '@silexstarter-dashboard/rdash/css/bootstrap.min.css',
        '@silexstarter-dashboard/rdash/css/font-awesome.min.css',
        '@silexstarter-dashboard/rdash/css/dashboard/dashboard.css',
        '@silexstarter-dashboard/rdash/css/themes/blue.css',
    ]) }}

    {{ stylesheet() }}
    {% endblock %}

    {{ variable('global') }}
</head>
<body>
    <div id="page-wrapper">

        {# sidebar #}
        {% block sidebar %}
            {% include '@silexstarter-dashboard/'~ template ~'/sidebar.twig' %}
        {% endblock %}

        <div id="content-wrapper">
            <div class="page-content">
                {# header #}
                {% block navbar %}
                    <div class="row header">
                        <div class="col-xs-12">
                            <div class="meta pull-left">
                                <div class="page">
                                    {{ page_title | default('Dashboard') }}
                                </div>
                                <div class="breadcrumb-links">
                                {% block breadcrumb %}
                                    Home / Dashboard
                                {% endblock %}
                                </div>
                            </div>

                            {{ render_menu('admin_navbar') }}
                        </div>
                    </div>
                {% endblock %}

                {% block content %}{% endblock %}

            </div>
        </div>
    </div>

    {% block modal %}
        {% include '@silexstarter-dashboard/'~template~'/about.twig' %}
    {% endblock %}

    {% block javascript %}
    {{ javascript([
        '@silexstarter-dashboard/rdash/js/jquery.min.js',
        '@silexstarter-dashboard/rdash/js/bootstrap.min.js',
        '@silexstarter-dashboard/rdash/js/jquery.cookie.js',
        '@silexstarter-dashboard/rdash/js/dashboard.js',
        '@silexstarter-dashboard/rdash/js/jquery/bootstrap.js',
    ]) }}
    {{ javascript() }}
    {% endblock %}
</body>
</html>